## Importing the required data and libraries

In [1]:
import pandas as pd;
import numpy as np;

In [2]:
ag = pd.read_csv('agriculture_dataset.csv')
cl = pd.read_csv('climate_dataset.csv')

## Checking the data present in the .csv files

In [3]:
ag.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Region                   1000 non-null   object
 1   Product                  1000 non-null   object
 2   Machine                  1000 non-null   object
 3   Month_Year               1000 non-null   object
 4   Area_Hectares            1000 non-null   int64
 5   Production_Tons          1000 non-null   int64
 6   Sales_Revenue            1000 non-null   int64
 7   Cost_Man                 1000 non-null   int64
 8   Fuel_Consumption_Liters  1000 non-null   int64
dtypes: int64(5), object(4)
memory usage: 70.4+ KB

In [4]:
cl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Month              12 non-null     object
 1   Avg_Temperature_C  12 non-null     int64
 2   Rainfall_mm        12 non-null     int64
dtypes: int64(2), object(1)
memory usage: 420.0+ bytes

In [5]:
#converting the month_year column to date 
ag['Month_Year'] = pd.to_datetime(ag['Month_Year'])

In [6]:
#converting the month column to date
cl['Month'] = pd.to_datetime(cl['Month'])

## Cleaning the data

In [7]:
#checking for null values on the datasets
ag_null_values = ag.isnull().sum()
ag_null_values

Region                     0
Product                    0
Machine                    0
Month_Year                 0
Area_Hectares              0
Production_Tons            0
Sales_Revenue              0
Cost_Man                   0
Fuel_Consumption_Liters    0
dtype: int64

In [8]:
cl_null_values = cl.isnull().sum()
cl_null_values

Month                0
Avg_Temperature_C    0
Rainfall_mm          0
dtype: int64

In [9]:
#droping the null values from the column
ag = ag.dropna()

In [10]:
cl = cl.dropna()

In [11]:
#replacing blank spaces, and typos
ag.columns = ag.columns.str.strip().str.lower().str.replace(r'\s+', '_', regex=True)

In [12]:
cl.columns = cl.columns.str.strip().str.lower().str.replace(r'\s+', '_', regex=True)

## Merging the agriculture dataset with the climate dataset

In [13]:
#Checking columns names after replacing the blank spaces and typos
print(ag.columns.tolist())

['region', 'product', 'machine', 'month_year', 'area_hectares', 'production_tons', 'sales_revenue', 'cost_man', 'fuel_consumption_liters']

In [14]:
print(cl.columns.tolist())

['month', 'avg_temperature_c', 'rainfall_mm']

In [15]:
#Checking columns types to see if they merge
print(ag['month_year'].min(), ag['month_year'].max())

2024-01-01 00:00:00 2024-12-01 00:00:00

In [16]:
print(cl['month'].min(), cl['month'].max())

2024-01-01 00:00:00 2024-12-01 00:00:00

In [17]:
#Making the merge with climate datase]
df_merged = pd.merge(ag, cl, left_on='month_year', right_on='month', how='left')

In [18]:
#Checking if the merge worked
df_merged

,region,product,machine,month_year,area_hectares,production_tons,sales_revenue,cost_man,fuel_consumption_liters,month,avg_temperature_c,rainfall_mm
0,Nordeste,Cana-de-açúcar,Plantadeira Y,2024-10-01,480,1310,164648,175205,4999,2024-10-01,18,78
1,Norte,Cana-de-açúcar,Colheitadeira X,2024-12-01,437,21,434724,232107,4410,2024-12-01,17,207
2,Centro-Oeste,Cana-de-açúcar,Plantadeira Y,2024-10-01,227,75,477927,100761,3119,2024-10-01,18,78
3,Norte,Cana-de-açúcar,Colheitadeira X,2024-01-01,13,1297,35464,33926,3781,2024-01-01,21,169
4,Norte,Trigo,Trator B,2024-02-01,99,1353,463497,109700,1543,2024-02-01,34,277
...,...,...,...,...,...,...,...,...,...,...,...,...
995,Sudeste,Soja,Trator B,2024-09-01,326,254,306213,222394,2847,2024-09-01,25,68
996,Sul,Trigo,Colheitadeira X,2024-02-01,422,882,148442,207123,1109,2024-02-01,34,277
997,Sul,Soja,Trator A,2024-02-01,304,952,129873,162699,1650,2024-02-01,34,277
998,Nordeste,Trigo,Trator A,2024-12-01,137,979,388987,282342,903,2024-12-01,17,207
999,Centro-Oeste,Algodão,Plantadeira Y,2024-12-01,353,1330,81947,111471,4180,2024-12-01,17,207

## Creating new columns and preparing businnes cases

In [19]:
#Creating profit column
df_merged['profit'] = df_merged['sales_revenue'] - df_merged['cost_man']

In [21]:
#Merged dataframe with profit column added
df_merged

,region,product,machine,month_year,area_hectares,production_tons,sales_revenue,cost_man,fuel_consumption_liters,month,avg_temperature_c,rainfall_mm,profit
0,Nordeste,Cana-de-açúcar,Plantadeira Y,2024-10-01,480,1310,164648,175205,4999,2024-10-01,18,78,-10557
1,Norte,Cana-de-açúcar,Colheitadeira X,2024-12-01,437,21,434724,232107,4410,2024-12-01,17,207,202617
2,Centro-Oeste,Cana-de-açúcar,Plantadeira Y,2024-10-01,227,75,477927,100761,3119,2024-10-01,18,78,377166
3,Norte,Cana-de-açúcar,Colheitadeira X,2024-01-01,13,1297,35464,33926,3781,2024-01-01,21,169,1538
4,Norte,Trigo,Trator B,2024-02-01,99,1353,463497,109700,1543,2024-02-01,34,277,353797
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Sudeste,Soja,Trator B,2024-09-01,326,254,306213,222394,2847,2024-09-01,25,68,83819
996,Sul,Trigo,Colheitadeira X,2024-02-01,422,882,148442,207123,1109,2024-02-01,34,277,-58681
997,Sul,Soja,Trator A,2024-02-01,304,952,129873,162699,1650,2024-02-01,34,277,-32826
998,Nordeste,Trigo,Trator A,2024-12-01,137,979,388987,282342,903,2024-12-01,17,207,106645
999,Centro-Oeste,Algodão,Plantadeira Y,2024-12-01,353,1330,81947,111471,4180,2024-12-01,17,207,-29524

In [20]:
#Getting the top 5 months with least amount of profit
df_merged.groupby('month_year')['profit'].sum().sort_values(ascending=True).head(5)

month_year
2024-06-01    5828966
2024-02-01    6040698
2024-08-01    7189546
2024-07-01    7632655
2024-04-01    7928924
Name: profit, dtype: int64

In [22]:
#Getting the less rentable months
less_rentable_months = ['2024-06-01', '2024-02-01', '2024-08-01', '2024-07-01', '2024-04-01']
df_less_rentable = df_merged[df_merged['month_year'].isin(pd.to_datetime(less_rentable_months))]

In [23]:
#By calculating the raninfall mean, we can assume that june was the worst month since the average rainfall was really low, resulting in a less profitable month
df_less_rentable.groupby('month_year')['rainfall_mm'].mean()

month_year
2024-02-01    277.0
2024-04-01    296.0
2024-06-01     41.0
2024-07-01    272.0
2024-08-01    255.0
Name: rainfall_mm, dtype: float64

In [24]:
#Checks for the products count; not the reason why the other months are less profitable
df_less_rentable['product'].value_counts()

product
Milho             91
Algodão           82
Cana-de-açúcar    77
Soja              76
Trigo             75
Name: count, dtype: int64

In [26]:
#checks for the average cost; not the reason for less profit either
df_less_rentable.groupby('month_year')['cost_man'].mean().sort_values(ascending=False)

month_year
2024-02-01    169755.539474
2024-07-01    168653.148649
2024-06-01    165282.638554
2024-04-01    153250.628205
2024-08-01    147078.200000
Name: cost_man, dtype: float64

In [27]:
#checks for the average production; not the reason for less profit either
df_less_rentable.groupby('month_year')['production_tons'].mean().sort_values(ascending=False)

month_year
2024-08-01    1149.655556
2024-04-01    1064.012821
2024-06-01    1025.855422
2024-07-01     987.824324
2024-02-01     954.407895
Name: production_tons, dtype: float64

In [33]:
#checks for the tons price; not the reason for less profit either
df_less_rentable.loc[: ,'tons_price'] = df_less_rentable['sales_revenue'] / df_less_rentable['production_tons']
df_less_rentable.groupby('month_year')['tons_price'].mean().sort_values()

month_year
2024-02-01    475.151215
2024-08-01    542.868098
2024-07-01    579.445053
2024-06-01    653.554662
2024-04-01    980.834622
Name: tons_price, dtype: float64

In [34]:
#takes the average for sales revenue and production. Not the reason either.
df_less_rentable.groupby('month_year')[['sales_revenue', 'production_tons']].mean()

            sales_revenue  production_tons
month_year
2024-02-01  249238.407895       954.407895
2024-04-01  254903.500000      1064.012821
2024-06-01  235511.144578      1025.855422
2024-07-01  271797.135135       987.824324
2024-08-01  226962.044444      1149.655556

## Final conclusion:

# Based on the analisys, we can can conclude that June (2024-06) was the worst performing month in terms of profit, mainly because of significantly low rainfall. It was the only month to present a huge discrepancy on weather conditions, impacting the overall productivity.

# The other months however, there was no factor that stood out, unlike June. A combination of factors contributed to this loss, such as moderate operational costs, slightly lower production. We can can conclude that the multiple average-level factors accumulated, leading to a less obvious cause.

# This project highlights the importance of constantly monitoring indicators simultaneously, rather than pointing to a single cause.